.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/dragon.png');
  background-position: right 55% bottom 15%;
  background-repeat: no-repeat;
  background-size: cover;
}

#main-section {
  width: 100%;
  height: 100%;
}
