.roll-form {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  padding: 2vmin;
  gap: 3vmin;
  color: #56423d;
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.form-field input {
  border: none;
  border-bottom: 2px solid #56423d;
  padding: 0.8vmin;
  font-size: 2vmin;
  text-align: center;
  background: transparent;
  outline: none;
  width: 18vmin;
}

.form-field input:focus {
  border-bottom: 2px solid #569429;
  color: #7db852;
  font-weight: 600;
  font-size: 2.5vmin;
}

.form-field label {
  margin-top: 0.5vmin;
  font-size: 1.5vmin;
  color: #56423d;
  text-align: center;
}
