
.home-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 3vmin;
}